<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Post App</title>
</head>
<body>
  <h1>Hello World</h1>
  <p>We are building an app to look at posts</p>
  <a href='/posts'>See All Posts</a>
</body>
</html>
